@import "../reusableStyles/variablesAndMixins";
@import "../reusableStyles/reusableStyles";
@import "../reusableStyles/header";
@import "../reusableStyles/footer";

body {
  overflow-x: hidden;
}

header {
  position: relative;
  overflow-x: hidden;
  padding-bottom: 240px;
  z-index: 1;

  .content-container-70vw {
    margin-top: 0px;
  }

  .yellow-line {
    position: absolute;
    background-color: #ffcc29;
    width: 100px;
    height: 6px;
    bottom: -3px;
    left: 140px;
  }
}

#white-box-section {
  position: relative;
  z-index: 2;

  .white-box-container {
    width: 66%;
    margin: auto;
    margin-top: -80px;
    padding: 50px 0px;

    h1 {
      font-size: 64px;
    }
  }
}

#form-section {
  form {
    width: 70%;
    margin: auto;

    .width-32-percent {
      width: 32%;
    }

    .width-49-percent {
      width: 49%;
    }

    .width-23-percent {
      width: 23%;
    }

    label {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.692);
    }

    input,
    select {
      width: 100%;
      padding: 6px 10px;
      border: 1px solid rgb(192, 192, 192);
    }

    .label-and-input-radio {
      display: flex;
      align-items: center;

      .radio {
        margin-right: 10px;
        width: 16px;
        height: 16px;
      }
    }
  }
}

#two-gradient-boxes {
  margin-top: 80px;

  .col {
    padding: 60px;
  }

  .gradient-box1 {
    margin-right: 10%;
    background: linear-gradient(
      160deg,
      rgba(43, 43, 156, 0.75),
      rgba(43, 134, 145, 0.75)
    );
  }

  .gradient-box2 {
    background: linear-gradient(160deg, rgb(43, 43, 156), rgb(43, 134, 145));
  }
}

@media screen and (max-width: 992px) {
  #form-section {
    .inputs-row {
      flex-wrap: wrap;

      .width-32-percent,
      .width-23-percent {
        width: 100%;
        margin-top: 20px;
      }
    }
  }

  #two-gradient-boxes {
    .gradient-box1 {
      margin-right: 0px;
    }
  }
}
