header {
  padding-top: 25px;
  width: 100vw;
  min-height: 60vh;
  padding-bottom: 100px;
  background: linear-gradient(160deg, rgb(43, 43, 156), rgb(43, 134, 145));
  @include flexJustifyAlign(center, flex-start);

  .logo-and-buttons {
    color: white;
    margin: 0 30px;
    @include flexJustifyAlign(space-between, center);
    .logo {
      @include flexJustifyAlign(flex-start, center);
      h1 {
        font-weight: 600;
        font-size: 32px;
        margin-left: 6px;
      }
    }
  }

  .burger-menu {
    display: none;
  }

  .navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.699);
    padding-bottom: 20px;

    .nav-links {
      display: flex;
      align-items: center;

      a,
      .custom-nav-link {
        text-decoration: none;
        color: white;
        margin: 0 20px;
        font-size: 22px;
        cursor: pointer;
      }

      .dropdown-link-container {
        display: none;
        margin-top: 12px;
        background-color: white;
        border-left: 5px solid $veryDarkBlue;
        div {
          margin: 12px 4px;
        }
        a {
          margin: 0;
          color: $darkBlue;
          font-size: 18px;
          font-weight: 600;
          padding: 12px 14px;
          display: block;
          width: 100%;
        }
      }
    }
    .telephone {
      font-size: 22px;
      font-weight: 600;
    }
  }

  .heading-info {
    margin-top: 200px;
    width: 65%;
    .heading {
      font-size: 72px;
      font-weight: 600;
      line-height: 80px;
    }

    .info-text {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 1200px) {
  header {
    .logo-and-buttons {
      margin: 0 10px;
      display: flex;
      flex-direction: column;
      .logo {
        align-self: flex-start;
        height: 100px;
        @include flexJustifyAlign(flex-start, center);
        img {
          width: 70px;
        }
        h1 {
          font-weight: 600;
          font-size: 48px;
          margin-left: 6px;
        }
      }
      .header-buttons {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        button {
          width: 280px;
          height: 60px;
          margin: 14px 0;
        }
      }
    }

    .navbar {
      display: none;
      .nav-links {
        flex-direction: column;
        align-items: flex-start;

        a,
        .custom-nav-link {
          margin: 14px 10px;
        }

        .dropdown-link-container {
          position: relative !important;
          background-color: transparent;
          display: none;
          margin-top: 12px;
          border-left: 5px solid white;
          div {
            margin: 36px 18px;
          }
          a {
            color: white;
            font-size: 20px;
          }
        }
      }
      .telephone {
        font-size: 28px;
        font-weight: 600;
        margin-left: 12px;
        margin-top: 20px;
      }
    }

    .burger-menu {
      display: block;

      #burger-menu-icon {
        cursor: pointer;
      }
    }

    .heading-info {
      margin-top: 100px;

      .heading {
        font-size: 40px;
        line-height: 56px;
      }
    }
  }
}
