* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Rubik, sans-serif;
}

p,
h1 {
  margin: 0;
}

section {
  width: 100vw;
}

.content-container-70vw {
  width: 70vw;
  margin: auto;
}

.blue-button {
  background-color: rgb(15, 17, 177);
  border: none;
  color: white;
  height: 40px;
  width: 150px;
}

.blue-button-arrow {
  background-color: #00008e;
  border: none;
  color: white;
  height: 40px;
  width: 40px;
}

.transparent-button {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  color: white;
  width: 150px;
  height: 40px;
}

.white-box-container {
  padding: 40px 40px;
  display: flex;
  background-color: white;
  box-shadow: $boxShadow;
}

.dark-blue-color {
  color: $darkBlue;
}

.very-dark-blue-color {
  color: $veryDarkBlue;
}

.light-blue-color {
  color: $lightBlue;
}

.one-third-col {
  width: 30%;
}

.width-100-percent {
  width: 100%;
}

.width-50vw-container {
  width: 50vw;
}

.img-fit {
  width: 100%;
  object-fit: cover;
}

.container-vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.font-size-40px {
  font-size: 40px;
}

.second-50vw-container {
  margin-top: -80px;

  .width-50vw-container:first-of-type {
    align-items: flex-end;
    padding-left: 12%;
  }
}

.white-box-with-icon {
  width: 350px;

  .white-box-with-icon-text {
    margin-top: -6px;
  }
}

@media screen and (max-width: 1400px) {
  .content-container-70vw {
    width: 90vw;
  }
}

@media screen and (max-width: 1200px) {
  .second-50vw-container {
    margin-top: -20px;
  }
}

@media screen and (max-width: 992px) {
  .font-size-40px {
    font-size: 32px;
  }

  .container-of-2-50vw-containers {
    flex-direction: column;

    .width-50vw-container {
      width: 100vw;
    }
  }
  .second-50vw-container {
    margin-top: 70px;
    position: relative;

    .white-boxes-with-icons-container {
      flex-direction: column;
      bottom: -120px;

      .white-box-with-icon {
        width: 250px;
        height: 80px;

        img {
          height: 80px;
        }

        p {
          font-size: 14px;
        }

        .font-size-40px {
          font-size: 32px;
        }
      }
    }
  }
}
