* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Rubik, sans-serif;
}

p,
h1 {
  margin: 0;
}

section {
  width: 100vw;
}

.content-container-70vw {
  width: 70vw;
  margin: auto;
}

.blue-button {
  background-color: rgb(15, 17, 177);
  border: none;
  color: white;
  height: 40px;
  width: 150px;
}

.blue-button-arrow {
  background-color: #00008e;
  border: none;
  color: white;
  height: 40px;
  width: 40px;
}

.transparent-button {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  color: white;
  width: 150px;
  height: 40px;
}

.white-box-container {
  padding: 40px 40px;
  display: flex;
  background-color: white;
  box-shadow: $boxShadow;
}

.dark-blue-color {
  color: $darkBlue;
}

.very-dark-blue-color {
  color: $veryDarkBlue;
}

.light-blue-color {
  color: $lightBlue;
}

.one-third-col {
  width: 30%;
}

.width-100-percent {
  width: 100%;
}

.width-50vw-container {
  width: 50vw;
}

.img-fit {
  width: 100%;
  object-fit: cover;
}

.container-vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.font-size-40px {
  font-size: 40px;
}

.font-size-48px {
  font-size: 48px;
}

.second-50vw-container {
  margin-top: -80px;

  .width-50vw-container:first-of-type {
    align-items: flex-end;
    padding-left: 12%;
  }
}

.white-box-with-icon {
  width: 350px;

  .white-box-with-icon-text {
    margin-top: -6px;
  }
}

.page-buttons {
  @include flexJustifyAlign(center, center);
  p {
    margin: 0 6px;
    padding: 0 10px;
    font-size: 20px;
  }

  .currentPage {
    background-color: $veryDarkBlue;
    background: linear-gradient(160deg, rgb(25, 25, 184), rgb(32, 115, 124));
    color: white;
    border-radius: 50%;
  }
}

#plans-section,
#wide-plans-section {
  margin-top: 200px;

  .plans-text {
    margin: 0 20%;
  }

  .plans-boxes {
    margin-top: 110px;
  }

  .plan-heading {
    font-size: 20px;
  }

  .plan-discount {
    align-self: center;
    font-size: 16px;
  }

  .plan-price {
    span {
      font-size: 40px;
      font-weight: bold;
    }
  }

  .white-box-container {
    position: relative;

    .best-offer-box {
      position: absolute;
      display: flex;
      justify-content: center;
      top: -40px;
      left: 20%;
      right: 20%;
      padding: 8px 40px;
      background-color: rgb(255, 204, 41);
      color: $darkBlue;
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 1400px) {
  .content-container-70vw {
    width: 90vw;
  }
}

@media screen and (max-width: 1200px) {
  .second-50vw-container {
    margin-top: -20px;
  }
}

@media screen and (max-width: 992px) {
  .font-size-40px {
    font-size: 32px;
  }

  .font-size-48px {
    font-size: 36px;
  }

  .white-box-container {
    h1 {
      font-size: 48px !important;
      padding: 0 10px;
    }
  }

  .container-of-2-50vw-containers {
    flex-direction: column;

    .width-50vw-container {
      width: 100vw;
    }
  }
  .second-50vw-container {
    margin-top: 70px;
    position: relative;

    .white-boxes-with-icons-container {
      flex-direction: column;
      bottom: -120px;

      .white-box-with-icon {
        width: 250px;
        height: 80px;

        img {
          height: 80px;
        }

        p {
          font-size: 14px;
        }

        .font-size-40px {
          font-size: 32px;
        }
      }
    }
  }

  #plans-section {
    .plans-text {
      margin: 0;
    }
  }
}
