$darkBlue: rgb(25, 69, 107);
$boxShadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
  rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
  rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

@mixin flexJustifyAlign($justifyContVal, $alignItemsVal) {
  display: flex;
  justify-content: $justifyContVal;
  align-items: $alignItemsVal;
}
