@import "../reusableStyles/variablesAndMixins";
@import "../reusableStyles/reusableStyles";
@import "../reusableStyles/header";
@import "../reusableStyles/footer";

body {
  overflow-x: hidden;
}

header {
  position: relative;
  overflow-x: hidden;
  padding-bottom: 240px;
  z-index: -10;
}

.background-text {
  position: absolute;
  font-size: 300px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.15);
  bottom: 0px;
  left: 60vw;
}

#white-box-services {
  margin-top: -70px;
  z-index: 10;
}

.blue-column {
  background-color: rgb(0, 50, 136);
  height: 135%;
  width: 33%;
  margin-top: -80px;
  box-shadow: $boxShadow;
  color: white;

  p {
    margin: 8px;
  }

  .blue-col-heading {
    font-size: 22px;
    font-weight: 600;
  }

  .all-services-link {
    margin-top: 40px;
    font-size: 14px;
  }
}

#rolso-services-heading {
  margin-top: 120px;
  font-size: 56px;
}

.one-forth-photo {
  width: 25%;
  object-fit: cover;
  transition: 0.4s;

  &:hover {
    transform: scale(1.12);
    z-index: 10;
  }
}

#consultation-form-section {
  margin-top: 120px;
}

.consultation-text-container {
  width: 40%;
  margin-right: 5%;

  @include flexJustifyAlign(center, flex-start);
  flex-direction: column;
}

.consultation-form-container {
  width: 55%;

  form {
    width: 100%;

    .label-and-input {
      width: 48%;

      label {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.692);
      }

      input {
        width: 100%;
        padding: 6px 10px;
        border: 1px solid rgb(192, 192, 192);
      }

      textarea {
        resize: none;
        width: 208%;
        height: 130px;
        border: 1px solid rgb(192, 192, 192);
        padding: 6px 10px;
      }
    }
  }
}

.container-25vw {
  width: 25vw;
  height: 60vh;

  img {
    height: 100%;
  }
}

.container-40vw {
  width: 40vw;
  margin: 0 5vw;
  height: 60vh;
  position: relative;

  img {
    height: 100%;
    z-index: 0;
  }

  .blue-column {
    position: relative;
    z-index: 10;
    height: 300px;
    width: 50%;
    margin-left: -50px;
    bottom: 120px;
  }
}

#plans-section {
  margin-top: 200px;

  .plans-text {
    margin: 0 20%;
  }

  .plans-boxes {
    margin-top: 110px;
  }

  .plan-heading {
    font-size: 20px;
  }

  .plan-discount {
    align-self: center;
    font-size: 16px;
  }

  .plan-price {
    span {
      font-size: 40px;
      font-weight: bold;
    }
  }

  .white-box-container {
    position: relative;

    .best-offer-box {
      position: absolute;
      display: flex;
      justify-content: center;
      top: -40px;
      left: 20%;
      right: 20%;
      padding: 8px 40px;
      background-color: rgb(255, 204, 41);
      color: $darkBlue;
      font-weight: 600;
    }
  }
}
