@import "../reusableStyles/variablesAndMixins";
@import "../reusableStyles/reusableStyles";
@import "../reusableStyles/header";
@import "../reusableStyles/footer";

body {
  overflow-x: hidden;
}

header {
  position: relative;
  overflow-x: hidden;
  padding-bottom: 240px;
  z-index: 1;

  .content-container-70vw {
    margin-top: 0px;
  }

  .yellow-line {
    position: absolute;
    background-color: #ffcc29;
    width: 120px;
    height: 6px;
    bottom: -3px;
    left: 270px;
  }
}

#white-box-section {
  position: relative;
  z-index: 2;

  .white-box-container {
    width: 66%;
    margin: auto;
    margin-top: -80px;
    padding: 50px 0px;

    h1 {
      font-size: 64px;
    }
  }
}

#single-service-section {
  .content-container-70-percent {
    width: 70%;

    .big-image {
      width: 100%;
      height: 60vh;
      object-fit: cover;
    }

    .four-small-images-row {
      img {
        width: 100%;
        height: 140px;
        object-fit: cover;
      }
    }

    .one-of-two-images {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }

    .font-size-24px {
      font-size: 24px;
    }
  }

  .width-25-percent {
    width: 25%;
    margin-left: auto;

    .white-box-container {
      padding: 0;
      padding-left: 20px;
      height: 60px;
      align-items: center;

      .font-size-20px {
        font-size: 20px;
      }
    }
  }
}

#plans-section {
  margin-top: 80px;
  margin-bottom: 120px;
}

@media screen and (max-width: 992px) {
  #single-service-section {
    .single-service-section-container {
      flex-direction: column;

      .content-container-70-percent {
        width: 100%;
      }

      .width-25-percent {
        width: 100%;
        margin-top: 40px;
      }
    }
  }

  #plans-section {
    margin-top: 60px;
    margin-bottom: 80px;

    .plans-boxes {
      margin-top: 60px;
    }
  }
}
