@import "../reusableStyles/variablesAndMixins";
@import "../reusableStyles/reusableStyles";
@import "../reusableStyles/header";
@import "../reusableStyles/footer";

body {
  overflow-x: hidden;
}

header {
  position: relative;
  overflow-x: hidden;
  padding-bottom: 240px;
  z-index: 1;

  .content-container-70vw {
    margin-top: 0px;
  }

  .yellow-line {
    position: absolute;
    background-color: #ffcc29;
    width: 120px;
    height: 6px;
    bottom: -3px;
    left: 636px;
  }
}

#white-box-section {
  position: relative;
  z-index: 2;

  .white-box-container {
    width: 66%;
    margin: auto;
    margin-top: -80px;
    padding: 50px 0px;

    h1 {
      font-size: 64px;
    }
  }
}

#location-section {
  .google-map {
    z-index: 0;
    margin-top: -140px;
  }

  .content-container-70vw {
    .white-boxes-with-icons-container {
      margin-top: -40px;
      position: relative;
      z-index: 2;
    }
  }

  #appointment-form-section {
    margin-top: 60px;
    width: 58%;
    height: 100%;

    .consultation-text-container {
      width: 40%;
      margin-right: 5%;

      @include flexJustifyAlign(center, flex-start);
      flex-direction: column;
    }

    .consultation-form-container {
      height: 100%;
      align-items: center;

      form {
        width: 100%;

        .label-and-input {
          width: 48%;

          label {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.692);
          }

          input {
            width: 100%;
            padding: 6px 10px;
            border: 1px solid rgb(192, 192, 192);
          }

          textarea {
            resize: none;
            width: 208%;
            height: 130px;
            border: 1px solid rgb(192, 192, 192);
            padding: 6px 10px;
          }
        }
      }
    }
  }

  #gradient-box {
    margin-top: 60px;
    width: 39%;

    .gradient-box1 {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      padding: 60px;
      margin-right: 10%;
      background: linear-gradient(
        160deg,
        rgba(43, 43, 156, 0.95),
        rgba(43, 134, 145, 0.75)
      );

      .text-container-width-50-percent {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  #location-section {
    .google-map {
      margin-top: 0px;
      height: 70vh;
    }

    .content-container-70vw {
      .white-boxes-with-icons-container {
        flex-direction: column;
        margin-top: 0px;
        margin-left: -14px;
      }
    }

    .two-sections-container {
      flex-direction: column;
    }

    #appointment-form-section {
      margin-top: 0px;
      width: 100%;

      .consultation-form-container {
        height: auto;
        padding: 20px !important;

        .two-inputs-container {
          flex-direction: column;

          .label-and-input {
            width: 100%;

            input {
              width: 100%;
              margin-bottom: 12px;
            }
          }
        }
      }
    }

    #gradient-box {
      width: 100%;

      .gradient-box1 {
        padding: 60px;
        margin-right: 0%;
      }
    }
  }
}
