* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Poppins, Rubik, sans-serif;
}

p,
h1 {
  margin: 0;
}

section {
  width: 100vw;
}

.content-container-70vw {
  width: 70vw;
  margin: auto;
}

.blue-button {
  background-color: #0f11b1;
  border: none;
  color: white;
  height: 40px;
  width: 150px;
}

.blue-button-arrow {
  background-color: #00008e;
  border: none;
  color: white;
  height: 40px;
  width: 40px;
}

.transparent-button {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  color: white;
  width: 150px;
  height: 40px;
}

.white-box-container {
  padding: 40px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.dark-blue-color {
  color: #19456b;
}

.very-dark-blue-color {
  color: #00008e;
}

.light-blue-color {
  color: #2e8995;
}

.one-third-col {
  width: 30%;
}

.width-100-percent {
  width: 100%;
}

.width-50vw-container {
  width: 50vw;
}

.img-fit {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.font-size-40px {
  font-size: 40px;
}

.font-size-48px {
  font-size: 48px;
}

.second-50vw-container {
  margin-top: -80px;
}

.second-50vw-container .width-50vw-container:first-of-type {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 12%;
}

.white-box-with-icon {
  width: 350px;
}

.white-box-with-icon .white-box-with-icon-text {
  margin-top: -6px;
}

.page-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-buttons p {
  margin: 0 6px;
  padding: 0 10px;
  font-size: 20px;
}

.page-buttons .currentPage {
  background-color: #00008e;
  background: linear-gradient(160deg, #1919b8, #20737c);
  color: white;
  border-radius: 50%;
}

#plans-section,
#wide-plans-section {
  margin-top: 200px;
}

#plans-section .plans-text,
#wide-plans-section .plans-text {
  margin: 0 20%;
}

#plans-section .plans-boxes,
#wide-plans-section .plans-boxes {
  margin-top: 110px;
}

#plans-section .plan-heading,
#wide-plans-section .plan-heading {
  font-size: 20px;
}

#plans-section .plan-discount,
#wide-plans-section .plan-discount {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 16px;
}

#plans-section .plan-price span,
#wide-plans-section .plan-price span {
  font-size: 40px;
  font-weight: bold;
}

#plans-section .white-box-container,
#wide-plans-section .white-box-container {
  position: relative;
}

#plans-section .white-box-container .best-offer-box,
#wide-plans-section .white-box-container .best-offer-box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -40px;
  left: 20%;
  right: 20%;
  padding: 8px 40px;
  background-color: #ffcc29;
  color: #19456b;
  font-weight: 600;
}

@media screen and (max-width: 1400px) {
  .content-container-70vw {
    width: 90vw;
  }
}

@media screen and (max-width: 1200px) {
  .second-50vw-container {
    margin-top: -20px;
  }
}

@media screen and (max-width: 992px) {
  .font-size-40px {
    font-size: 32px;
  }
  .font-size-48px {
    font-size: 36px;
  }
  #white-box-section .white-box-container {
    width: 100% !important;
  }
  #white-box-section .white-box-container h1 {
    font-size: 48px !important;
    padding: 0 10px;
  }
  .container-of-2-50vw-containers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-of-2-50vw-containers .width-50vw-container {
    width: 100vw;
  }
  .second-50vw-container {
    margin-top: 70px;
    position: relative;
  }
  .second-50vw-container .white-boxes-with-icons-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    bottom: -120px;
  }
  .second-50vw-container .white-boxes-with-icons-container .white-box-with-icon {
    width: 250px;
    height: 80px;
  }
  .second-50vw-container .white-boxes-with-icons-container .white-box-with-icon img {
    height: 80px;
  }
  .second-50vw-container .white-boxes-with-icons-container .white-box-with-icon p {
    font-size: 14px;
  }
  .second-50vw-container .white-boxes-with-icons-container .white-box-with-icon .font-size-40px {
    font-size: 32px;
  }
  #plans-section .plans-text {
    margin: 0;
  }
}

header {
  padding-top: 25px;
  width: 100vw;
  min-height: 60vh;
  padding-bottom: 100px;
  background: linear-gradient(160deg, #2b2b9c, #2b8691);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header .logo-and-buttons {
  color: white;
  margin: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo-and-buttons .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo-and-buttons .logo h1 {
  font-weight: 600;
  font-size: 32px;
  margin-left: 6px;
}

header .burger-menu {
  display: none;
}

header .navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.699);
  padding-bottom: 20px;
}

header .navbar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .nav-links a,
header .navbar .nav-links .custom-nav-link {
  text-decoration: none;
  color: white;
  margin: 0 20px;
  font-size: 22px;
  cursor: pointer;
}

header .navbar .nav-links .dropdown-link-container {
  display: none;
  margin-top: 12px;
  background-color: white;
  border-left: 5px solid #00008e;
}

header .navbar .nav-links .dropdown-link-container div {
  margin: 12px 4px;
}

header .navbar .nav-links .dropdown-link-container a {
  margin: 0;
  color: #19456b;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 14px;
  display: block;
  width: 100%;
}

header .navbar .telephone {
  font-size: 22px;
  font-weight: 600;
}

header .heading-info {
  margin-top: 200px;
  width: 65%;
}

header .heading-info .heading {
  font-size: 72px;
  font-weight: 600;
  line-height: 80px;
}

header .heading-info .info-text {
  font-size: 18px;
}

@media screen and (max-width: 1200px) {
  header .logo-and-buttons {
    margin: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .logo-and-buttons .logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .logo-and-buttons .logo img {
    width: 70px;
  }
  header .logo-and-buttons .logo h1 {
    font-weight: 600;
    font-size: 48px;
    margin-left: 6px;
  }
  header .logo-and-buttons .header-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
  header .logo-and-buttons .header-buttons button {
    width: 280px;
    height: 60px;
    margin: 14px 0;
  }
  header .navbar {
    display: none;
  }
  header .navbar .nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header .navbar .nav-links a,
  header .navbar .nav-links .custom-nav-link {
    margin: 14px 10px;
  }
  header .navbar .nav-links .dropdown-link-container {
    position: relative !important;
    background-color: transparent;
    display: none;
    margin-top: 12px;
    border-left: 5px solid white;
  }
  header .navbar .nav-links .dropdown-link-container div {
    margin: 36px 18px;
  }
  header .navbar .nav-links .dropdown-link-container a {
    color: white;
    font-size: 20px;
  }
  header .navbar .telephone {
    font-size: 28px;
    font-weight: 600;
    margin-left: 12px;
    margin-top: 20px;
  }
  header .burger-menu {
    display: block;
  }
  header .burger-menu #burger-menu-icon {
    cursor: pointer;
  }
  header .heading-info {
    margin-top: 100px;
  }
  header .heading-info .heading {
    font-size: 40px;
    line-height: 56px;
  }
}

@media screen and (max-width: 992px) {
  header {
    padding-bottom: 140px !important;
  }
}

footer {
  margin-top: 60px;
  padding-top: 25px;
  width: 100vw;
  min-height: 80vh;
  padding-bottom: 40px;
  background: linear-gradient(160deg, #0b0ba7, #2b8691);
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: #a1a1a1;
}

footer .row {
  margin-top: 80px;
}

footer .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .logo h1 {
  font-weight: 600;
  font-size: 32px;
  margin-left: 6px;
  color: white;
}

footer .bigger-font-size {
  font-size: 18px;
}

footer .white-circle-icon-container {
  background-color: white;
  padding: 20px;
  border-radius: 50%;
}

footer .white-circle-icon-container .bi-linkedin {
  background-color: #00008e;
}

footer .link-container {
  margin-left: 80px;
}

footer .white-border-input {
  width: 60%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.6);
}

footer .send-icon-container {
  background-color: #00008e;
  padding: 0 10px;
  margin-left: -1px;
}

footer .send-icon-container:hover {
  cursor: pointer;
}

footer .three-cols-footer .transparent-background {
  background-color: rgba(46, 137, 149, 0.2);
  padding: 40px 45px;
}

footer .three-cols-footer .transparent-background:nth-of-type(2) {
  background-color: rgba(255, 255, 255, 0.16);
}

footer .three-cols-footer .three-cols-footer-smaller-text {
  font-size: 18px;
}

footer .copyright-text {
  margin-top: 120px;
}

@media screen and (max-width: 768px) {
  footer {
    padding-top: 20px;
  }
  footer .link-container {
    margin-left: 20px;
  }
  footer .link-container svg {
    width: 20px;
    height: 20px;
  }
  footer .link-container .bigger-font-size {
    font-size: 22px;
  }
  footer .copyright-text {
    margin-top: 80px;
  }
}

body {
  overflow-x: hidden;
}

header {
  position: relative;
  overflow-x: hidden;
  padding-bottom: 240px;
  z-index: 1;
}

header .content-container-70vw {
  margin-top: 0px;
}

header .yellow-line {
  position: absolute;
  background-color: #ffcc29;
  width: 90px;
  height: 6px;
  bottom: -3px;
  left: 528px;
}

#white-box-section {
  position: relative;
  z-index: 2;
}

#white-box-section .white-box-container {
  width: 66%;
  margin: auto;
  margin-top: -80px;
  padding: 50px 0px;
}

#white-box-section .white-box-container h1 {
  font-size: 64px;
}

#plans-section {
  margin-top: 0;
}

#plans-section .best-offer-box {
  background-color: #2e8995 !important;
  color: white !important;
}

#wide-plans-section {
  margin-top: 0;
  margin-bottom: 100px;
}

#wide-plans-section .white-box-container {
  padding: 40px 60px;
}

#wide-plans-section .second-plan {
  background: linear-gradient(160deg, #170eca, #2b8691);
  color: white !important;
}

#wide-plans-section .second-plan button {
  background-color: transparent;
  border: 1px solid white;
}

@media screen and (max-width: 992px) {
  #wide-plans-section .white-box-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=PricesPage.css.map */